In [1]:
import pandas as pd

### <font color='DodgerBlue'> Import WHO CSV for COVID data from 1/21 to 3/5</font>

In [31]:
df = pd.read_csv('/Users/jiffy/projects/covid_2019/COVID-19/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv')

### <font color='DodgerBlue'>Inspect Data</font>

In [32]:
df.index

RangeIndex(start=0, stop=123, step=1)

In [33]:
df.head()

,Province/States,Country/Region,WHO region,1/21/2020,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,Confirmed,Globally,NaN,282.0,314.0,581.0,846.0,1320.0,2014.0,2798.0,...,85403.0,87137.0,88948.0,90870.0,93091.0,95324.0,NaN,NaN,NaN,NaN
1,Confirmed,China,Western Pacific Region,278.0,309.0,571.0,830.0,1297.0,1985.0,2741.0,...,79394.0,79968.0,80174.0,80304.0,80422.0,80565.0,NaN,NaN,NaN,NaN
2,Confirmed,Outside of China,NaN,4.0,5.0,10.0,16.0,23.0,29.0,57.0,...,6009.0,7169.0,8774.0,10566.0,12669.0,14759.0,NaN,NaN,NaN,NaN
3,Deaths,China,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,2838.0,2873.0,2915.0,2946.0,2984.0,3015.0,NaN,NaN,NaN,NaN
4,Hubei,China,Western Pacific Region,258.0,270.0,375.0,375.0,NaN,NaN,NaN,...,66337.0,66907.0,67103.0,67217.0,67332.0,67466.0,NaN,NaN,NaN,NaN

### <font color='DodgerBlue'>Drop Columns</font>

In [34]:
df.drop(columns = ['Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51'], inplace=True)

In [35]:
df.head()

,Province/States,Country/Region,WHO region,1/21/2020,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,2/25/2020,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020
0,Confirmed,Globally,NaN,282.0,314.0,581.0,846.0,1320.0,2014.0,2798.0,...,80239.0,81109.0,82294.0,83652.0,85403.0,87137.0,88948.0,90870.0,93091.0,95324.0
1,Confirmed,China,Western Pacific Region,278.0,309.0,571.0,830.0,1297.0,1985.0,2741.0,...,77780.0,78191.0,78630.0,78961.0,79394.0,79968.0,80174.0,80304.0,80422.0,80565.0
2,Confirmed,Outside of China,NaN,4.0,5.0,10.0,16.0,23.0,29.0,57.0,...,2459.0,2918.0,3664.0,4691.0,6009.0,7169.0,8774.0,10566.0,12669.0,14759.0
3,Deaths,China,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,2666.0,2718.0,2747.0,2791.0,2838.0,2873.0,2915.0,2946.0,2984.0,3015.0
4,Hubei,China,Western Pacific Region,258.0,270.0,375.0,375.0,NaN,NaN,NaN,...,64786.0,65187.0,65596.0,65914.0,66337.0,66907.0,67103.0,67217.0,67332.0,67466.0

### <font color='DodgerBlue'>Rename Columns for ease of use</font>

In [36]:
df.rename(columns={'Province/States': 'province_or_states', 'Country/Region': 'country_or_region', 'WHO region': 'who_region'}, inplace=True)

### <font color='DodgerBlue'>Use melt method to change data from wide to long format</font>

In [37]:
df = df.melt(id_vars=['province_or_states', 'country_or_region', 'who_region'])

In [38]:
df.head()

,province_or_states,country_or_region,who_region,variable,value
0,Confirmed,Globally,NaN,1/21/2020,282.0
1,Confirmed,China,Western Pacific Region,1/21/2020,278.0
2,Confirmed,Outside of China,NaN,1/21/2020,4.0
3,Deaths,China,Western Pacific Region,1/21/2020,NaN
4,Hubei,China,Western Pacific Region,1/21/2020,258.0

In [39]:
df.rename(columns={'variable': 'date', 'value': 'amount'}, inplace=True)

In [40]:
df.head()

,province_or_states,country_or_region,who_region,date,amount
0,Confirmed,Globally,NaN,1/21/2020,282.0
1,Confirmed,China,Western Pacific Region,1/21/2020,278.0
2,Confirmed,Outside of China,NaN,1/21/2020,4.0
3,Deaths,China,Western Pacific Region,1/21/2020,NaN
4,Hubei,China,Western Pacific Region,1/21/2020,258.0

In [57]:
china = df[(df.country_or_region == 'China') & (df.province_or_states == 'Deaths')]

In [59]:
china.amount.sum()

60037.0