In [1]:
import pandas as pd

### <font color='DodgerBlue'> Import WHO CSV for COVID data from 1/21 to 3/5</font>

In [31]:
df = pd.read_csv('/Users/jiffy/projects/covid_2019/COVID-19/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series/who_covid_19_sit_rep_time_series.csv')

### <font color='DodgerBlue'>Inspect Data</font>

In [32]:
df.index

RangeIndex(start=0, stop=123, step=1)

In [33]:
df.head()

,Province/States,Country/Region,WHO region,1/21/2020,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51
0,Confirmed,Globally,NaN,282.0,314.0,581.0,846.0,1320.0,2014.0,2798.0,...,85403.0,87137.0,88948.0,90870.0,93091.0,95324.0,NaN,NaN,NaN,NaN
1,Confirmed,China,Western Pacific Region,278.0,309.0,571.0,830.0,1297.0,1985.0,2741.0,...,79394.0,79968.0,80174.0,80304.0,80422.0,80565.0,NaN,NaN,NaN,NaN
2,Confirmed,Outside of China,NaN,4.0,5.0,10.0,16.0,23.0,29.0,57.0,...,6009.0,7169.0,8774.0,10566.0,12669.0,14759.0,NaN,NaN,NaN,NaN
3,Deaths,China,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,2838.0,2873.0,2915.0,2946.0,2984.0,3015.0,NaN,NaN,NaN,NaN
4,Hubei,China,Western Pacific Region,258.0,270.0,375.0,375.0,NaN,NaN,NaN,...,66337.0,66907.0,67103.0,67217.0,67332.0,67466.0,NaN,NaN,NaN,NaN

### <font color='DodgerBlue'>Drop Columns</font>

In [34]:
df.drop(columns = ['Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51'], inplace=True)

In [35]:
df.head()

,Province/States,Country/Region,WHO region,1/21/2020,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,2/25/2020,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020
0,Confirmed,Globally,NaN,282.0,314.0,581.0,846.0,1320.0,2014.0,2798.0,...,80239.0,81109.0,82294.0,83652.0,85403.0,87137.0,88948.0,90870.0,93091.0,95324.0
1,Confirmed,China,Western Pacific Region,278.0,309.0,571.0,830.0,1297.0,1985.0,2741.0,...,77780.0,78191.0,78630.0,78961.0,79394.0,79968.0,80174.0,80304.0,80422.0,80565.0
2,Confirmed,Outside of China,NaN,4.0,5.0,10.0,16.0,23.0,29.0,57.0,...,2459.0,2918.0,3664.0,4691.0,6009.0,7169.0,8774.0,10566.0,12669.0,14759.0
3,Deaths,China,Western Pacific Region,NaN,NaN,NaN,NaN,NaN,NaN,80.0,...,2666.0,2718.0,2747.0,2791.0,2838.0,2873.0,2915.0,2946.0,2984.0,3015.0
4,Hubei,China,Western Pacific Region,258.0,270.0,375.0,375.0,NaN,NaN,NaN,...,64786.0,65187.0,65596.0,65914.0,66337.0,66907.0,67103.0,67217.0,67332.0,67466.0

### <font color='DodgerBlue'>Rename Columns for ease of use</font>

In [36]:
df.rename(columns={'Province/States': 'province_or_states', 'Country/Region': 'country_or_region', 'WHO region': 'who_region'}, inplace=True)

### <font color='DodgerBlue'>Use melt method to change data from wide to long format</font>

In [37]:
df = df.melt(id_vars=['province_or_states', 'country_or_region', 'who_region'])

In [38]:
df.head()

,province_or_states,country_or_region,who_region,variable,value
0,Confirmed,Globally,NaN,1/21/2020,282.0
1,Confirmed,China,Western Pacific Region,1/21/2020,278.0
2,Confirmed,Outside of China,NaN,1/21/2020,4.0
3,Deaths,China,Western Pacific Region,1/21/2020,NaN
4,Hubei,China,Western Pacific Region,1/21/2020,258.0

In [39]:
df.rename(columns={'variable': 'date', 'value': 'amount'}, inplace=True)

In [40]:
df.head()

,province_or_states,country_or_region,who_region,date,amount
0,Confirmed,Globally,NaN,1/21/2020,282.0
1,Confirmed,China,Western Pacific Region,1/21/2020,278.0
2,Confirmed,Outside of China,NaN,1/21/2020,4.0
3,Deaths,China,Western Pacific Region,1/21/2020,NaN
4,Hubei,China,Western Pacific Region,1/21/2020,258.0

In [60]:
china = df[(df.country_or_region == 'China') & (df.province_or_states == 'Deaths')]

In [61]:
china

,province_or_states,country_or_region,who_region,date,amount
3,Deaths,China,Western Pacific Region,1/21/2020,NaN
126,Deaths,China,Western Pacific Region,1/22/2020,NaN
249,Deaths,China,Western Pacific Region,1/23/2020,NaN
372,Deaths,China,Western Pacific Region,1/24/2020,NaN
495,Deaths,China,Western Pacific Region,1/25/2020,NaN
618,Deaths,China,Western Pacific Region,1/26/2020,NaN
741,Deaths,China,Western Pacific Region,1/27/2020,80.0
864,Deaths,China,Western Pacific Region,1/28/2020,106.0
987,Deaths,China,Western Pacific Region,1/29/2020,132.0
1110,Deaths,China,Western Pacific Region,1/30/2020,170.0
1233,Deaths,China,Western Pacific Region,1/31/2020,213.0
1356,Deaths,China,Western Pacific Region,2/1/2020,259.0
1479,Deaths,China,Western Pacific Region,2/2/2020,304.0
1602,Deaths,China,Western Pacific Region,2/3/2020,361.0
1725,Deaths,China,Western Pacific Region,2/4/2020,425.0
1848,Deaths,China,Western Pacific Region,2/5/2020,491.0
1971,Deaths,China,Western Pacific Region,2/6/2020,564.0
2094,Deaths,China,Western Pacific Region,2/7/2020,637.0
2217,Deaths,China,Western Pacific Region,2/8/2020,723.0
2340,Deaths,China,Western Pacific Region,2/9/2020,812.0
2463,Deaths,China,Western Pacific Region,2/10/2020,909.0
2586,Deaths,China,Western Pacific Region,2/11/2020,1017.0
2709,Deaths,China,Western Pacific Region,2/12/2020,1114.0
2832,Deaths,China,Western Pacific Region,2/13/2020,1260.0
2955,Deaths,China,Western Pacific Region,2/14/2020,1381.0
3078,Deaths,China,Western Pacific Region,2/15/2020,1524.0
3201,Deaths,China,Western Pacific Region,2/16/2020,1666.0
3324,Deaths,China,Western Pacific Region,2/17/2020,1772.0
3447,Deaths,China,Western Pacific Region,2/18/2020,1870.0
3570,Deaths,China,Western Pacific Region,2/19/2020,2006.0
3693,Deaths,China,Western Pacific Region,2/20/2020,2121.0
3816,Deaths,China,Western Pacific Region,2/21/2020,2239.0
3939,Deaths,China,Western Pacific Region,2/22/2020,2348.0
4062,Deaths,China,Western Pacific Region,2/23/2020,2445.0
4185,Deaths,China,Western Pacific Region,2/24/2020,2595.0
4308,Deaths,China,Western Pacific Region,2/25/2020,2666.0
4431,Deaths,China,Western Pacific Region,2/26/2020,2718.0
4554,Deaths,China,Western Pacific Region,2/27/2020,2747.0
4677,Deaths,China,Western Pacific Region,2/28/2020,2791.0
4800,Deaths,China,Western Pacific Region,2/29/2020,2838.0
4923,Deaths,China,Western Pacific Region,3/1/2020,2873.0
5046,Deaths,China,Western Pacific Region,3/2/2020,2915.0
5169,Deaths,China,Western Pacific Region,3/3/2020,2946.0
5292,Deaths,China,Western Pacific Region,3/4/2020,2984.0
5415,Deaths,China,Western Pacific Region,3/5/2020,3015.0

In [67]:
pd.to_datetime()

0      2020-01-21
1      2020-01-21
2      2020-01-21
3      2020-01-21
4      2020-01-21
5      2020-01-21
6      2020-01-21
7      2020-01-21
8      2020-01-21
9      2020-01-21
10     2020-01-21
11     2020-01-21
12     2020-01-21
13     2020-01-21
14     2020-01-21
15     2020-01-21
16     2020-01-21
17     2020-01-21
18     2020-01-21
19     2020-01-21
20     2020-01-21
21     2020-01-21
22     2020-01-21
23     2020-01-21
24     2020-01-21
25     2020-01-21
26     2020-01-21
27     2020-01-21
28     2020-01-21
29     2020-01-21
          ...
5505   2020-03-05
5506   2020-03-05
5507   2020-03-05
5508   2020-03-05
5509   2020-03-05
5510   2020-03-05
5511   2020-03-05
5512   2020-03-05
5513   2020-03-05
5514   2020-03-05
5515   2020-03-05
5516   2020-03-05
5517   2020-03-05
5518   2020-03-05
5519   2020-03-05
5520   2020-03-05
5521   2020-03-05
5522   2020-03-05
5523   2020-03-05
5524   2020-03-05
5525   2020-03-05
5526   2020-03-05
5527   2020-03-05
5528   2020-03-05
5529   2020-03-05
5530   2020-03-05
5531   2020-03-05
5532   2020-03-05
5533   2020-03-05
5534   2020-03-05
Name: date, Length: 5535, dtype: datetime64[ns]